# === Llaves RSA (JWT) - NUNCA subir la privada ===
keys/private.pem


# === Archivos de entorno / secretos ===
.env
*.env
appsettings.Development.json
appsettings.Local.json

# === Compilación .NET ===
bin/
obj/
*.user

# === Visual Studio / Rider / VS Code ===
.vs/
.vscode/
.idea/

# === Logs generados por Serilog en local ===
logs/
*.log

# === Volúmenes/datos locales de Docker (si los montas fuera de un volumen nombrado) ===
**/pgdata/